body {
  margin: 0;
  background-color: #ff8c00;
  height: calc(100vh - 30px);
}

.wrap {
  margin: 30px auto!important;
  width: 500px;
}

.title {
  font-family: Helvetica;
  text-align: center;
}

.link {
  color: #000;
  text-decoration: none;
}

.sidebar {
  background-color: #a9a9a9!important;
  display: inline-block;
  grid-area: sidebar;
}

.content {
  grid-area: content;
  display: inline-block;
}

.wrap {
  display: grid;
  grid-template-areas: 'sidebar . content';
  margin: auto;
  width: 650px;
}
