.dealNumber {
  color: #888;
  font-family: 'Helvetica';
  font-size: 13px;
}

.filters {
  border-radius: 4px;
  position: absolute;
  top: -20%;
  right: 4px;
}

.filter {
  font-size: 10px;
}

footer {
  padding-bottom: 20px;
  padding-left: 15px;
  position: relative;
}

.selected {
  background-color: darkgray!important;
}
