.wrap {
  display: inline-block;
  margin: auto;
  padding-bottom: 25px;
  width: 500px;
}

.title {
  font-family: Helvetica;
  text-align: center;
}

.label {
  display: block;
  font-size: 18px;
  margin-left: 40px;
  text-align: right;
}

.progress {
  padding: 7%;
  text-align: center;
}

.list {
  font-family: sans-serif;
}

.link {
  color: #000;
  text-decoration: none;
}

.info {
  display: inline-block;
  margin: auto 40px;
  vertical-align: top;
}

.inline {
  display: inline-block;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  padding-left: 10px;
}
